.user-table {
    width: 100%;
    border-collapse: collapse;
  }
  @media print {
    .no-print {
      display: none;
    }
  }

  
  .user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: black; /* Change font color to black */
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-action-link {
    margin-right: 5px;
    text-decoration: none;
    color: #670a53;
  }
  
  .delete-button {
    padding: 5px 10px;
    background-color: #670a53;
    color: white;
    border: none;
    cursor: pointer;
  }

