@media print {
    .no-print {
      display: none;
    }
  }
  .Rupdate{
    background-color: #670a53;
    font-size: 15px;
    height: 30px;
    width: 70px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    color: rgb(248, 242, 242);
  }

  .Rupdate:hover{
    background-color: rgb(64, 64, 237);
  }
  .Sdelete:hover{
    background-color: rgb(64, 64, 237);
  }
  .Sdelete{
    background-color: #670a53;
    color: rgba(42, 2, 44, 0.8);
    font-size: 15px;
    height: 40px;
    color: rgb(248, 242, 242);
    width: 70px;
    align-items: center;
    border-radius: 10px;
  }