.container5 {
    background-image: url('../../images/pic5.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set full viewport height */
    width: 100%; /* Take full width of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content vertically */
    justify-content: center; /* Align content horizontally */
    padding: 20px; /* Add padding around the container */
  }

  h1 {
    color: rgb(9, 9, 9); /* Set text color to white */
    text-align: center; /* Center-align the text */
  }
  
  .form-Attend {
    display: flex;
    background-color: rgba(246, 243, 245, 0.8);
    flex-direction: column;
    align-items: center;
    height: 900px; /* Align form elements vertically */
    width: 500px;
    padding: 20px;
  }
  
  label {
    color: rgb(13, 12, 12); /* Set label text color to white */
    margin-bottom: 10px; /* Add margin below labels */
  }
  
  input {
    padding: 10px; /* Add padding to input fields */
    margin-bottom: 20px; /* Add margin below input fields */
  }
  
  button {
    padding: 10px 20px; /* Add padding to button */
    background-color: #007bff; /* Set background color */
    color: white; /* Set text color to white */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  button:hover {
    background-color: #0056b3; /* Darken background color on hover */
  }
  