/* ServicesHistory.css */

.servicesHistoryContainer {
    margin-top: 20px;
  }
  
  .servicesHistoryContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .servicesHistoryContainer input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .servicesHistoryContainer button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .servicesHistoryContainer button:hover {
    background-color: #0056b3;
  }
  
  .servicesHistoryContainer p {
    margin-top: 10px;
  }
  
  /* ServiceHistory.css */
  
  .servicehistoryTable {
    margin-top: 20px;
  }
  
  .servicehistoryTable table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .servicehistoryTable th, .servicehistoryTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .servicehistoryTable th {
    background-color: #f2f2f2;
  }
  
  .servicehistoryTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .servicehistoryTable tr:hover {
    background-color: #ddd;
  }
  
  .servicehistoryTable .acctionButtons {
    text-align: center;
  }
  
  