 .home-background {
    background-image: url("garage2.jpg");
    height: 100vh;
}

.dashboard-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 600px;
    color: rgb(244, 241, 241);
}

.product-value-container {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    width: calc(100% - 320px);
    max-width: 700px;
}

.total-products,
.total-value {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    flex: 1;
}

.total-value {
    margin-left: 20px;
}

.total-products-title,
.total-value-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.total-products-count,
.total-value-count {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.total-sales {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    flex: 1;
    margin-left: 20px;
}

.total-sales-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.total-sales-count {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.product-table-container {
    margin-left: 300px;
    width: calc(100% - 320px);
    max-width: 700px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-family: "Roboto" sans-serif;
    padding: 10px;
}

.product-table th {
    background-color: white;
    color: black;
    border-style: double;
    border-top: #0b7dda;
    border-bottom: #0b7dda;
}

.product-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


  