.home-background{
  position: relative; /* Ensure child elements position correctly */
  background-image: url("garage2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title {
    font-family:"Roboto" sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:white;
    text-align: center;
    margin-top: 20px;
  }
  