.New-container{
    background-color: cadetblue;
    background-size: auto;
  height: 1400px;
  width: 1535px;
  margin-left: 0px;
  margin-right: 0px;
}

.ANE{
    background-color: #670a53;
}
.user-tableNew{
    text-align: center;

}
.trNew{
    font-size: 15px;
    text-align: center;
}