.addReqOrder {
    background-color: #f9f9f9; /* Background color for the form */
    padding: 20px; /* Padding around the form */
    border-radius: 5px; /* Rounded corners for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
    max-width: 500px; /* Maximum width of the form */
    margin: 20px auto; /* Center the form horizontally */
    
  }
  
  .addReqOrder h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0; /* Remove top margin from heading */
    text-align: center;
  }
  
  .inputGroup {
    margin-bottom: 20px; /* Spacing between input groups */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .inputGroup label {
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Spacing between label and input */
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  
  .inputGroup input[type="number"],
  .inputGroup input[type="text"],
  .inputGroup input[type="date"] {
    width: 100%; /* Make inputs fill the entire width of their container */
    padding: 8px; /* Padding for inputs */
    border: 1px solid #ccc; /* Border for inputs */
    border-radius: 5px; /* Rounded corners for inputs */
  }
  
  .inputGroup input[type="number"]:focus,
  .inputGroup input[type="text"]:focus,
  .inputGroup input[type="date"]:focus {
    outline: none; /* Remove outline when input is focused */
    border-color: rebeccapurple; /* Change border color when input is focused */
  }
  
  .inputGroup button {
    background-color: rebeccapurple; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners for the button */
    padding: 10px 20px; /* Padding for the button */
    cursor: pointer; /* Cursor style on hover */
  }
  
  .inputGroup button:hover {
    background-color:rebeccapurple; /* Button background color on hover */
  }

  .validationError{
    color:red;
  }
  