/*.home-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333; /* Background color of the navbar 
    overflow: hidden;
}

.home-ll {
    float: left;
}

.home-ll {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}*/

/* nav.css */

/* Style for the container */


.nav{
    width: 1400px;
    margin-right: 0;

}


.home-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #996390;
    overflow: hidden;
    height: auto;
}

/* Style for each list item */
.home-ll {
    float: left;
}

/* Style for each link */
.home-ll a {
    display: block;
    color: white; /* Text color of the links */
    text-align: center;
    font-size: 15px;
    padding: 10px 12px; /* Padding around the links */
    text-decoration: none;
}

/* Change color on hover */
.home-ll a:hover {
    background-color: #969093; /* Background color of the links on hover */
}

/* Style for the active link */
.home-a.active {
    background-color: #996390; /* Background color of the active link */
}

/* Style for the h1 within the link */
.home-a h1 {
    margin: 0; /* Remove any default margin */
}
