/* Container for the whole component */
.sales-by-month {
  padding: 20px;
  background-color: #f9f9f9; /* Light gray */
  color: #333; /* Dark text */
  font-family: "Arial", sans-serif; /* Default font family */
}

/* Styling for the "Back" link */
.back-link {
  padding: 100px;
  color: #007bff; /* Blue */
  text-decoration: none;
  transition: all 0.3s; /* Smooth hover effect */
}


/* Styling for the component title */
.sales-title {
  text-align: center;
  color: #333;
  padding-top: 10px;
  font-family:"Roboto" sans-serif;
}

/* Styling for the inputs */
.date-inputs {
  padding-top: 10px;
  text-align: center; /* Centered input container */
  font-family: "Roboto" sans-serif;
}

.year-input,
.month-input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
}

/* Styling for the fetch button */
.fetch-button {
  padding: 10px 20px;
  background-color: #007bff; /* Blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Roboto" sans-serif;
}

.fetch-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Styling for the print button */
.print-button {
  padding: 10px 20px;
  background-color: #28a745; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Roboto" sans-serif;
}

.print-button:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Styling for total sales */
.total-sales {
  padding-top: 20px;
  text-align: center; /* Centered */
  font-size: 1.2em; /* Larger font size */
  color: #333;
}

/* Styling for the sales table */
.sales-table {
  width: 60%; /* Adjust width as needed */
  margin: 0 auto; /* Center the table */
  border-collapse: collapse; /* Ensure borders are not doubled */
  margin-top: 10px;
}

.sales-table th {
  padding: 10px;
  background-color: #007bff; /* Blue headers */
  color: white; /* White text */
  text-align: center;
  font-family: "Roboto" sans-serif;
}

.sales-table td {
  padding: 10px;
  border: 1px solid #ddd; /* Light gray border */
  font-family: "Roboto" sans-serif;
}

.sales-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray for even rows */
}

/* Media query for print-specific styles */
@media print {
  .no-print {
    display: none !important; /* Hide unwanted components */
  }

  .sales-table {
    display: block;
  }

  .sales-table table {
    width: 100%;
    border-collapse: collapse;
  }

  .sales-table th, .sales-table td {
    padding: 10px;
    border: 1px solid #000; /* Ensure visible borders */
  }

  .print-button {
    display: none; /* Hide the "Generate Report" button */
    
  }

  
}

.print-button{
  margin-left: 50px;
}

