*{
  box-sizing: border-box;
}

body{
  background-color: rgb(239, 236, 242);
}

.container{
  padding: 10px;
  max-width: fit-content;
  margin: 50px auto;
}

.btn{
  border: none;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 5px;
  background: #194064;
  color: white;
  cursor: pointer;
  ;
}
.btn-add{
  background: #194064;
  color: white;
}

.addContainer{
  position: absolute;
  background-color:rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addContainer form{
  width: 420px;
  background-color:white;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}

.addContainer form label{
  font-size: 16px;
}

.addContainer form input{
  font-size: 16px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.addContainer form button{
  background-color: blueviolet;
  font-size: 10px;
  color: white;
  font-weight: normal;
  padding: 10px 20px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;

}

.addContainer form .close-btn{
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: radius 20px; 
  border:1px solid #000;
  cursor: pointer;
}
.tableContainer{
  margin-top: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2) ;
  border-radius: 5px;


}



.tableContainer table thead tr{
  background-color: #f0eaea;
  text-align: center;
}

.tableContainer table thead tr th,
.tableContainer table tbody tr td {
  min-width: 80px;
  padding: 7px;
  text-align: center;
}

.tableContainer table tbody tr{
  border: 1px solid #c9c5c2;

}

.tableContainer table tbody tr td {
  border-bottom: 1px solid #c9c5c2;

}

.btn-edit,
.btn-delete{
  font-size: 16px;
  padding: 5px 10px;
  margin: 0px 10px;
}

.btn-edit{
  background-color: #e2f413;
}

.btn-delete{
  background-color: #fa1717;
  color: white;
}







