/* applyleave.css */

/* Container */
.container20 {
  background-image: url('../../images/pic10.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Use minimum height to cover the viewport */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  padding: 20px;
  flex-direction: column; /* Stack items vertically */
  }
  
  /* Form */
  .formH {
    align-items: center;
    width: 50%;
    height: 700px;
    background-color: rgba(246, 243, 245, 0.8);
    padding: 20px;
  }
  .Ah1{
    font-size: 40px;
    color: rgb(243, 238, 238);
  }
  /* Label */
  label {
    font-weight: bold;
  }
  .error-message{
    color: red;
  }
  /* Input fields */
  input[type='text'],
  input[type='date'],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Submit button */
  button[type='submit'] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type='submit']:hover {
    background-color: #45044b;
  }
  
  /* Form grid for smaller screens */
  @media (max-width: 600px) {
    form {
      grid-template-columns: 1fr;
    }
  }
  