.home-ul2 {
    list-style-type: none;
    background-color: #670a53;
    height: 110px;
    margin-top: 1px;
    width: 1500px;
    padding-left: 2px;
    margin-left: 2px;
  }
  
  
  .home-li2 {
    float: left;
    margin-right: 100px; /* Add some margin to create a gap */
  }
  
  .home-li2 h2 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .logo-container {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  .home-li2 h1:hover {
    background-color: #c31fa5;
    height: 70px;
    width: 250px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  
  }
  
  .img1:hover {
    background-color: transparent;
    height: 100px;
    width: 100px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  
  }
  .home-li2 h1{
    color: white;
    padding: 2px;
    font-size: 20px;
  }
  .home-a2 {
    text-decoration: none;
    color: white;
    margin-left: 20px;
  }
  .img1{
    background-image: url('/F:/2ND YEAR/2ND SEM/ITP/frontend/src/images/pic12.png');
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-right: 50px;
    align-items: center;
    margin-top: 20px;
   
  }
  
  .Nav2h1 {
    margin-right: 10px; /* Adjust the spacing between the h1 and the image */
    margin-top: 30px;
    margin-left: 300px;
    color: white;
  }