.notifications-container {
  padding-left: 300px;
  padding-right: 300px;
  width: 100%; /* Reduced padding */
  position: relative; /* Ensure child elements position correctly */
  background-image: url("notification1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

 
}

.notifications-header {
  font-size: 24px; /* Smaller font */
  margin-bottom: 8px; /* Reduced margin */
  text-align: center;
  font-family: "Roboto" sans-serif;
  color: black;
  margin-top: 20px;
}

.notification-list {
  list-style-type: none;
  padding: 10px; /* Reduced padding */
  font-family: "Roboto" sans-serif;
  font-size: 18px; /* Reduced font size */
 
}

.notification-item {
  background-color: #f0f0f0;
  padding: 8px; /* Reduced padding */
  margin-bottom: 3px; /* Reduced margin */
  border-radius: 5px;
  padding-left: 50px;
}

.notification-item:hover {
  background-color: #e0e0e0; /* Keep hover consistent */
}

.back-button {
  padding-left: 100px;
  font-size: 22px; /* Reduced font size for the back button */
  color: rebeccapurple;
  margin-bottom: 30px;
}
